* {
	box-sizing: border-box;
	user-select: none;
	text-decoration: none;
	outline: none !important;
	border: none;
	-webkit-tap-highlight-color: #0000;
}
body {
	width: 100vw;
	height: 100vh;
}

.swal2-validation-message {
	background: none !important;
}

.form-switch .form-check-input {
	margin-left: -36px !important;
}

::-webkit-scrollbar-track {
	background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
	background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #bcbcbc;
}

::-webkit-scrollbar {
	width: 4px;
}

img.discord-image,
img.telegram-image {
	width: 40px;
	height: 40px;
}

img.discord-image {
	content: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 157.728 157.731' width='40' height='40' viewBox='0 0 157.728 157.731' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' class='m-2'%0A%3E%3Cg%3E%3Cpath d='M78.864,0c43.556,0,78.863,35.308,78.863,78.864c0,43.552-35.308,78.868-78.863,78.868 C35.308,157.731,0,122.416,0,78.864C0,35.308,35.308,0,78.864,0z' fill='%235865F2' /%3E%3Cpath d='M113.101,53.34c0,0-9.76-7.635-21.284-8.514l-1.043,2.076c10.425,2.552,15.2,6.207,20.199,10.695 c-8.612-4.394-17.112-8.514-31.927-8.514c-14.815,0-23.322,4.12-31.926,8.514c4.985-4.488,10.677-8.545,20.192-10.695l-1.036-2.076 c-12.099,1.145-21.284,8.514-21.284,8.514S34.09,69.143,32.221,100.166c10.985,12.672,27.669,12.771,27.669,12.771l3.487-4.649 c-5.923-2.059-12.61-5.741-18.386-12.378c6.889,5.209,17.293,10.642,34.055,10.642c16.762,0,27.158-5.426,34.055-10.642 c-5.783,6.637-12.47,10.319-18.386,12.378l3.487,4.649c0,0,16.677-0.099,27.669-12.771C123.995,69.143,113.101,53.34,113.101,53.34 z M65.211,91.651c-4.117,0-7.449-3.809-7.449-8.514c0-4.701,3.333-8.513,7.449-8.513c4.117,0,7.45,3.812,7.45,8.513 C72.661,87.843,69.328,91.651,65.211,91.651z M92.881,91.651c-4.117,0-7.45-3.809-7.45-8.514c0-4.701,3.333-8.513,7.45-8.513 c4.116,0,7.449,3.812,7.449,8.513C100.33,87.843,96.99,91.651,92.881,91.651z' fill='%23FFFFFF' /%3E%3C/g%3E%3C/svg%3E%0A");
}

img.telegram-image {
	content: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 24 24' width='40' height='40' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' class='m-2'%0A%3E%3Ccircle cx='12' cy='12' fill='%232A9ED6' r='12' /%3E%3Cpath d='m5.491 11.74 11.57-4.461c.537-.194 1.006.131.832.943l.001-.001-1.97 9.281c-.146.658-.537.818-1.084.508l-3-2.211-1.447 1.394c-.16.16-.295.295-.605.295l.213-3.053 5.56-5.023c.242-.213-.054-.333-.373-.121l-6.871 4.326-2.962-.924c-.643-.204-.657-.643.136-.953z' fill='%23FFFFFF' /%3E%3C/svg%3E%0A");
}
